<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.mtrader.mobiletreaderv3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>


    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.mobile.mtrader.Apps"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name="com.mobile.mtrader.ui.SalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobile.mtrader.ui.ModuleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.AttendantActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mobile.mtrader.ui.DeliveryMapActivity"
            android:label="@string/title_activity_delivery_map"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.BankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.DepotClokingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.DepotClockoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.DailySalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.ConfirmSales"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.Customer_Sales_History"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.CustomerProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobile.mtrader.ui.CustomerActivity"
            android:label="@string/title_activity_customer"
            android:theme="@style/AppTheme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.mobile.mtrader.util.LocationService"
            android:stopWithTask="true" />

        <activity android:name="com.mobile.mtrader.ui.AddCustomers"></activity>
    </application>

</manifest>